
*{
  background-color: rgb(202, 238, 252);
  /* overflow-x: hidden; */
}

table{
  table-layout: auto;
  width: 200px;
  height: 100px;
  margin:10vh auto ;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black !important;

}
table input{
  text-align: center;
  width: 100px;
}
th,td{
  border: 1px solid black !important;
  padding:1vh 3vw ;
}

.boxes input ,.boxes div{
  text-align: center;
  
}
h1{
  text-align: center;
  margin: 10vh;
} 
.password{
  text-align: center;
  margin: 1rem;
}
.form-control ,.btn-danger , .btn-success,.Popup{
  box-shadow:  2px 4px 8px 0px black;
}

.Popup{
  text-align: center;
  width: 50vw;
  background: beige;
  padding: 20px 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  box-shadow: inset 12px 8px 15px #e3e1e1;
}
.Popup *{
  background: beige;

}
.Popup .button{
  display: flex;
  justify-content: space-between;
}